@page
@model LoginModel

@*
@{
    ViewData["Title"] = "Entrar";
}*@

<link href="~/css/TelaLogin.css" rel="stylesheet"/>

<h1>@ViewData["Title"]</h1>
<div class="main-login">
    <div class="tela-login">
        
        <div class="card-login">
            <section>
            <form id="account" method="post">
                <h1>Seja Bem-Vindo ao nosso sistema</h1>
                 <hr />
                <h2>Login</h2>
                

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="caixa-texto">
                    <label asp-for="Input.Email" class="form-label" ></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="caixa-texto">
                    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Senha"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                 <hr />
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit"  type="submit" class="btn-login">Iniciar</button>
                </div>
                <div >
                    <p>
                        <a class="esqueceu-senha" id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                    </p>
                </div>
            </form>
        </section>
        </div>
        
    </div>

   @* <div class="esquerda-login logo">
        <h1>Seja Bem-Vindo ao nosso sistema</h1>
        <img class="imagem" src="~/css/JD-Bebidas-Logo.jpg" />
        
    </div>*@

    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

